@import "./reset.scss";

/*---------------------
Fonts
---------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*---------------------
General
---------------------*/
*{
margin:0;
padding:0;
}
ul li{
    list-style: none;
}
img{
    vertical-align: bottom;
}
html{
    font-size:62.5%;
}
body{
    font-family: "Lato", san-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100vw; 
}


/*---------------------
Canvas
---------------------*/

.canvas-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}
canvas{
    background-color: transparent;
    position: absolute;
    box-sizing: border-box;
}

/*---------------------
Menu
---------------------*/
div#menu-toggle-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    z-index: 40;
    font-size: 4rem;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
}

.menu-hidden{
    display: none;
}

#slide-menu{
    text-align: left;
    padding: 3vw;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 10;
    background-color: rgba(255,255,255,.6);
    display: block;
}

/*---------------------
Canvas Settings
---------------------*/
form{
    margin:0 auto 30px;
    line-height: 2;
    font-weight: bold;
    color: #555;
    display: flex;
    flex-wrap: wrap;
}
input[type="text"] {
    width: 50px;
    font-size: 1.8rem;
}
#openCamera{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff8128;
    color:#fff;
    padding:10px;
    border:none;
    margin-right: 20px;
}
#clear-all-button{
    border: none;
    background-color: #888;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8em;
}

// inputs

input {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input[type="button"]{
    margin-top:25px;
    vertical-align: bottom;
    outline: none;
}
input[type="button"]:active,input[type="button"]:hover{
    opacity: 0.7;
    cursor:pointer;
}
input[disabled]{
    opacity:0.5;
}

/*---------------------
video Scene
---------------------*/
#displayOnCamera{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas#canvasToExport,
#videoScene{
    width: 100vw;
    position: absolute;
    margin: 0;
}
canvas#canvasToExport{
    z-index: 2;
    opacity: 0.7;
}
#videoScene{
    z-index: 1;
}